.candy {
  --candy-main-dimensions: 60%;
  --candy-main-color: #fb7b76;
  --candy-dots-color: #f3d55b;
  --candy-paper-color: #ff5364;
  --candy-paper-shades: #df4d60;

  position: relative;
}

.candy__main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    ),
    radial-gradient(
      circle closest-side,
      var(--candy-dots-color) 100%,
      rgba(255, 255, 255, 0) 0
    );
  background-size: 18% 18%, 13% 13%, 18% 18%, 13% 13%, 18% 18%, 18% 18%, 13% 13%;
  background-position: 35% 17%, 75% 23%, 17% 51%, 52% 53%, 88% 62%, 35% 89%,
    66% 83%;
  background-repeat: no-repeat;
  background-color: var(--candy-main-color);
  border-radius: 50%;
  z-index: 3;
}

.candy__paper {
  --candy-paper-dimensions: 40%;
  --candy-paper-waves-width: 30%;

  position: absolute;
  width: var(--candy-paper-dimensions);
  height: var(--candy-paper-dimensions);
  top: 50%;
  transform: translateY(-50%);
}

.candy__paper:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-color: var(--candy-paper-color);
  z-index: 2;
}

.candy__paper:after {
  position: absolute;
  top: 50%;
  display: block;
  width: var(--candy-paper-waves-width);
  height: 99%;
  content: "";
  transform: translateY(-50%);
  background-image: radial-gradient(
    circle closest-side,
    var(--candy-paper-color) 100%,
    rgba(255, 255, 255, 0) 0
  );
  background-size: 100% 25%;
  background-repeat: repeat-y;
}

.candy__paper--left {
  left: 10%;
}

.candy__paper--left:before {
  transform: rotate(90deg);
}

.candy__paper--left:after {
  left: -15%;
}

.candy__paper--right {
  right: 10%;
}

.candy__paper--right:before {
  transform: rotate(-90deg);
}

.candy__paper--right:after {
  right: -15%;
}

.candy__paper-shade {
  --candy-paper-shade-rotate-angle: 21deg;

  position: absolute;
  width: 40%;
  height: 7%;
  background-color: var(--candy-paper-shades);
  border-radius: 100px;
  z-index: 5;
}

.candy__paper-shade:nth-child(1) {
  top: 40%;
}

.candy__paper-shade:nth-child(2) {
  top: 50%;
}

.candy__paper-shade:nth-child(3) {
  top: 60%;
}

.candy__paper--left .candy__paper-shade {
  left: 5%;
}

.candy__paper--right .candy__paper-shade {
  right: 5%;
}

.candy__paper--left .candy__paper-shade:nth-child(1) {
  transform: rotate(var(--candy-paper-shade-rotate-angle));
}

.candy__paper--left .candy__paper-shade:nth-child(3) {
  transform: rotate(calc(var(--candy-paper-shade-rotate-angle) * -1));
}

.candy__paper--right .candy__paper-shade:nth-child(1) {
  transform: rotate(calc(var(--candy-paper-shade-rotate-angle) * -1));
}

.candy__paper--right .candy__paper-shade:nth-child(3) {
  transform: rotate(var(--candy-paper-shade-rotate-angle));
}
